:root {
  --main-bg-clr: #131417;
  --secondary-bg-clr: #26272e;
  --text-clr: #e9edf6;
  --primary-clr: #a5b2d9;
  --secondary-clr: #0b0e19;
  --accent-clr: #475fa9;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
}

html {
  background-color: var(--main-bg-clr);
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.325rem;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}
